body{
   font-size: 0.7em;
   font-family: Trebuchet MS, verdana, arial, sans-serif;
}

.dialogletra{
   font-size: 3em;
   text-align: center;
   padding-top: 15px;
}

#letters{
   width: 330px;
   clear: both;
}

.letter{
   font-size: 0.9em;
   margin: 2px;
   width: 30px;
   text-align: center;
}

#secret-word{
   font-size: 3em;
   text-align:center;
   width: 320px;
   clear: both;
   margin-bottom: 10px;
}

#dibujoahorcado{
   margin-bottom: 20px;
}