body{
   font-size: 0.9em;
   font-family: Trebuchet MS, verdana, arial, sans-serif;
}

#message{
   font-size: 3em;
   text-align: center;
   padding-top: 15px;
   width: 300px;
}

#buttonList{
   width: 330px;
   clear: both;
   margin-bottom: 10px;
}

#buttonList button{
   margin: 2px;
   width: 30px;
   text-align: center;
}

#initialSequence{
   font-size: 3em;
   text-align:center;
   width: 320px;
   clear: both;
   margin-bottom: 10px;
}

#dibujoahorcado{
   margin-bottom: 20px;
}